{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="container-fluid mt-5">        
<div class="row m-auto d-flex justify-content-around">
{% for speciality in specialities %}

<a href="/specialities/{{speciality.SpecialityName}}" class="card col-sm-5 mb-4 text-center p-2 text-decoration-none bg-dark text-light">
<div class="card-body">
        <h1 class="card-title">{{ speciality.SpecialityName }}</h1>        
</div>
</a>

{% endfor %}
</div>
</div>
{% endblock %}
