<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Central Hospital Baroja
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<div class="container-fluid m-0 mb-3 px-0">
		<header class="p-2 bg-dark text-white m-0 w-100">
			<div class="container-fluid m-0">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a href="/homepage" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
						<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
					</a>
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li>
							<a href="/" class="nav-link px-2 text-secondary">Home</a>
						</li>
						<li>
							<a href="/specialities" class="nav-link px-2 text-white">Specialities</a>
						</li>
						<li>
							<a href="/patientlist" class="nav-link px-2 text-white">Patients</a>
						</li>
						<li></li>
					</ul>
				</div>
			</div>
		</header>
	</div>
	<div class="w-100 container-fluid fixed-bottom bg-dark m-0 mt-2">
		<footer class="d-flex flex-wrap justify-content-between align-items-center  my-4 border-top w-100">
			<div class="col-md-4 d-flex align-items-center">
				<span class="mb-3 mb-md-0 text-light">&copy; Central Hospital Baroja, Fake Street 123</span>
			</div>
			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="ms-3 ">
					<a class="text-light" href="#">
						Twitter
					</a>
				</li>
				<li class="ms-3">
					<a class="text-light" href="#">
						Instagram
					</a>
				</li>
				<li class="ms-3">
					<a class="text-light" href="#">
						Facebook
					</a>
				</li>
			</ul>
		</footer>
	</div>

	<body style="background-image: url('../images/fondo.jpg'); background-size: cover;"> {% block body %}{% endblock %}
		</body>
	</html>
